<%= simple_form_for :document, url: users_update_edited_document_path(document_id), method: :patch do |f| %>
  <div class="row">
      <div class="col-12">
        <small class="text-left">
            É preciso adicionar uma justificativa para editar o documento 
        </small>
      </div>
      <div class="col-12">
        <%= f.text_area :justification, required: true, :cols => 50, :rows => 5 %>
      </div>
  </div>
  <div class="form-footer">
    <div class="d-flex">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"> <%= I18n.t('simple_form.buttons.cancel') %> </button>
      <%= f.button :submit, t('simple_form.buttons.save'), class: 'btn btn-primary ml-auto' %>
    </div>
  </div>
<% end %>