<div class="card">
    <div class="card-header d-flex">
        <h5 class="card-title">Membros</h5>

        <%= link_to users_document_member_list_path(@document) do %>
            <%= icon('fas', 'plus', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.edit')) %>
        <% end %>
    </div>
</div>

