<tr>
    <td><%= document_sign.title %></td>
    <td class="align-middle">
        <%= link_to do%>
            <%= icon('fas', 'file-signature', class:'icon d-flex justify-content-center', 
                    data: { toggle: 'tooltip' }, title: t('activerecord.attributes.document_sign.sign')) %>
        <% end %>
    </td>
</tr>