<div class="col-sm-3" id="non-doc-sign">
  <div class="card">
    <div class="card-body p-2 text-center">
      <div class="h1 m-0">
        <%= @unsigned_documents.size %>
      </div>
      <div class="text-muted mb-3">
        <%= t('activerecord.models.document_user.other') %>
      </div>
    </div>
  </div>
</div>
