<div id="document-form-background">
  <div class="document-form">
    <%= simple_form_for :document, url: document_code_path do |f| %>
      <div class="form-input">
        <%= f.input :code %>
      </div>
      <div class="form-button">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
