<div class="<%= col_class %>">
  <div class="card">
    <div class="card-body p-2 text-center">
      <div class="h1 m-0">
        <%= counter.amount %>
      </div>
      <div class="text-muted mb-3">
        <%= counter.human %>
      </div>
    </div>
  </div>
</div>
