<% provide(:head_title, 'Dashboard') %>
<% provide(:page_title, 'Dashboard') %>

<div class="row row-cards">
   <%= render partial: 'counter', collection: AdminDashboard.counters, locals: { col_class: 'col-sm-3' }, cached: true %>
</div>
