/*************************************************************
* Gems
**************************************************************/
@import "font-awesome-sprockets";
@import "font-awesome";

@media print {
  
  .card::before{
    display: none;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.text-center {
  text-align: center;
}

.print-area {
  background-color: white;
  width: 210mm;
  height: 297mm;
  display: block;
  page-break-after: always;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px auto 0;
}

.icon-left{
  width: 25mm;
  height: 25mm;
}

.icon-right{
  width: 50mm;
  height: 20mm;
}

.icon-div{
  align-items: center;
}

.center-text{
  align-items: center;
  text-align: center;
}

.head-document{
  border-bottom-width: thick;
  border-bottom-style: double;
  border-bottom-color: rgb(247, 182, 6);
}

.body-document{
  padding-top: 5mm;
  height: 100vh;
}

.side-bar{
  background-color: rgb(247, 182, 6);
}